

/*  sevices  */ 

.allColumn .col:nth-child(3){
    display: none;
}

.allColumn .col i {
    font-size: 40px;
}

/*   parent  */

.services {
    padding: 130px 0; 
}

.landing .text p {
    width: 100%;
}

/*  About  */ 

.about .container .cone .cone1::before {
    left: -40px;
}

.about .container .cone .cone1::after {
    width: 47px;
    height: 272px;
    left: 139px;
}
