.container {
    width: 90%;
}


/*   parent  */

.parent .container {
    padding: 50px 0;
    height: 100%; 
    max-width: 100%;
    flex-direction: column;
}

.landing .text p {
    width: 100%;
}

.parent .child i {
    font-size: 40px;
    text-align: center;
}


/*  sevices  */ 

.allColumn .col:nth-child(3){
    display: none;
}

.container .logo_spe h1 {
    font-size: 70px;
}
.container .logo_spe p {
    font-size: 10px;
}

/*  portfolio  */ 

.services {
    padding: 133px 0; 
}

.allpro {
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
}

/*  About  */ 

.about .container .cone {
    flex-direction: column;
    align-items: center;
}

.about .container .cone .cone1 {
    flex-basis: 0%;
    text-align: center;
    padding-bottom: 60px;
    width: 200px;
}

.about .container .cone .cone1::before {
    left: -40px;
}

.about .container .cone .cone1::after {
    width: 47px;
    height: 272px;
    left: 139px;
}

.about .container .cone .cone2 {
    flex-basis: 0%;
}

.about .container .cone .cone2 .para p {
    padding: 20px 0;
}

/*  Contact  */ 

.textles h2 {
    font-size: 20px;
}
